<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<%- include('partials/head') %>
<body>

    <%- include('partials/navbar') %>

    <div class="flex justify-center items-center w-screen py-8">
        <form method="POST" class="form-control w-full max-w-xs center">
            <label class="label">
              <span class="label-text">Title</span>
            </label>
            <input type="text" name="title" placeholder="Type your title" class="input input-bordered input-sm w-full max-w-xs" />
            <label class="label">
                <span class="label-text">Content</span>
            </label>
            <textarea name="content" class="textarea textarea-bordered textarea-sm h-24" placeholder="Type your content"></textarea>
            <button class="btn btn-block my-4">Submit</button>
        </form>
    </div>

    

    <%- include('partials/footer') %>

    <script>
        form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const title = form.title.value;
            const content = form.content.value;
            const username = '<%= user.username %>';

            const res = await fetch('/posts', {
                method: 'POST',
                body: JSON.stringify({ title, content, username }),
                headers: { 'Content-Type': 'application/json'}
            })
            const data = await res.json();
            if (data.post) {
                location.assign('/');
            } else {
                console.log(data);
            }
        });
    </script>
</body>
</html>